<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Web Scraper</title>
    <link rel="stylesheet" href="./stylesheets/style.css">
    <link rel="stylesheet" href="./stylesheets/normalize.css">
    <script>
        const imgError = (e) => 
            e.src = './images/no-image.png';
    </script>
</head>
<body>
     {{{body}}}
    <script type="text/javascript" src="./javascripts/index.js"></script>
</body>
</html>